@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 68px;
  margin: 0;
  line-height: 84px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 700;
  font-size: 26px;
  color: #184065;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  color: #184065;
}

p1 {
  color: #555555;
  font-weight: 500;
  font-size: 20px;
}

p2 {
  font-size: 18px;
}

p3 {
  font-size: 14px;
}

button {
  background-color: #3182ce;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border: 2px solid transparent;
  display: block;
}

button:hover {
  background-color: white;
  color: #3182ce;
  border: 2px solid #3182ce;
  text-align: center;
  transition-duration: 0.2s
}

button:active{
  transform: scale(0.95);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
